/* New home container styling */
/* .home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
} */

/* Existing styles */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Figtree, sans-serif;
}

body {
  background-color: #e0e0e0;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* home */
/* .header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
} */

.navbar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F3BDFF;
  padding: 10px 20px;
  border-radius: 999px;
  gap: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  border: 1px solid black;
}

.navbar h1 {
  font-size: 120px; /* Increased font size */
  margin-right: 100px;
}

.navbar h3 {
  font-size: 40px; /* Increased font size */
}

.home-btn {
  background-color: #F3BDFF;
  color: black;
  padding: 10px 20px;
  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto; /* Centers the button */
  display: block; /* Ensures margin auto works for centering */
  font-size: 15px; /* Makes the button text bigger */
}

/* serachbar page */
/* SearchBar.css */
.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 8px 12px;
  border-radius: 20px;
  flex-grow: 1;
  margin-right: 20px;
}

.search-input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  width: 100%;
}

.search-input::placeholder {
  color: #888;
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.icon:hover {
  color: #007bff; /* Change color on hover */
}

/* swiping */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.card {
  width: 300px;
  height: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.card img {
  width: 100%;
  height: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card h2 {
  margin: 10px;
}
